/*doc
---
title: Buttons
name: buttons
category: Components
---

This is an example of how to use ```html_example_table``` to output the code snippet and rendered output next to each
other in a table.

```html_example_table
<button class="round-btn blue">Button</button>

<a class="round-btn gray" href="#">Link</a>
```
*/

button{
  @include radius(0);
  border:0;
  span{
    position:relative;
  }
}

a,button {
	padding: 0;
  display:inline-block;
	overflow: visible;
	border: 0 none;
	font: inherit;
	background: none;
	cursor: pointer;
	color:inherit;
	text-decoration:none;
  box-sizing:border-box;
}

%round-btn{
  padding:0 20px;
  min-width:110px;
  box-sizing:border-box;
  @include radius(20px);
  @include vtext(40px);
  font-size:15px;
  color:#fff;
}

$round-btn-color:(
  blue : (
    background-color:#305ec8,
    border:1px solid #305ec8
  ),
  gray : (
    background-color:#999,
    border:1px solid #000,
    color:#000
  ),
);

.round-btn{
  @extend %round-btn;
  @include get-nested-list($round-btn-color);
}
