$calendar-wrap-width: 400px;
$date-picker-image-width: 34px;


.ui-datepicker-next,
.ui-datepicker-prev{
	display: none;
}

.ui-datepicker{
	display: none;
	width: 235px;
	box-sizing: border-box;
	padding: 10px;
}

.ui-datepicker-title{
	overflow: hidden;
	select{
		font-size: 14px;
	}
	.ui-datepicker-year{
		float: left;
		width: 118px;
	}
	.ui-datepicker-month{
		float: right;
		width: 80px;
	}
}

.ui-datepicker-calendar{
	width: 100%;
	margin-top: 15px;
	th{
		font-size: 13px;
		font-weight: bold;
	}
	td{
		text-align: center;
		font-size: 12px;
		padding: 2px 0;
		&.ui-datepicker-week-end {
			color: color(red, 1);
		}
		&.ui-datepicker-today{
			a{
				@include vtext(24px);
				width: 24px;
			}
		}
	}
}

.calendar-wrap{
	display: inline-block;
	vertical-align: middle;
	@include with-righside($date-picker-image-width, 'img', $calendar-wrap-width);
	+ .calendar-wrap{
		margin-left: 20px;
		&:before{
			content: "";
			@include size(4px, 1px);
			@include poslt(-12px, 17px);
			background-color: color(black, 1);
		}
	}
}
