@mixin paging($margin-top: 16px){
  margin-top: $margin-top;
  text-align: center;
  font-size: 0;
  font-weight: bold;
  line-height: 30px;
  a{
    font-size: 15px;
    color: color(black, 1);
    @include size(30px);
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    &:first-child{
      margin-left: 0;
    }
    &.first{
      @include sprite($btn-paging-first);
    }
    &.prev{
      @include sprite($btn-paging-prev);
      margin-right: 10px;
    }
    &.next{
      @include sprite($btn-paging-next);
      margin-left: 20px;
    }
    &.last{
      @include sprite($btn-paging-last);
    }
  }
  strong{
    @include radius(50%);
    @include size(30px);
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: color(white, 1);
    background-color: color(blue, 1);
  }
}
