table{
	width:100%;
	border-spacing:0;
	border-top:2px solid color(blue,1);
	table-layout:fixed;
}

.tbl_basic{
	border-bottom:1px solid color(black,12);
	th{
		background-color:color(black,5);
		font-size:14px;
		height:40px;
		vertical-align: middle;
		text-align: center;
		~ th{
			border-left:1px solid color(black,12);
		}
	}
	td{
		font-size:13px;
		height:40px;
		vertical-align: middle;
		text-align: center;
		border-top:1px solid color(black,12);
		~ td{
			border-left:1px solid color(black,12);
		}
		&.subject{
			padding:0 10px;
			text-align: left;
		}
	}
}
