$palettes: (
  white:(
    1: #fff
  ),
  blue:(
    1: #305ec8,
    2: #4776e1,
    3: #1883d7,
    4: #1c4790,
		5: #f3f9ff,
		6: #93a5dd,
		7: #d8def2
  ),
  black: (
    1: #555,
    2: #999,
    3: #cdcdcd,
    4: #e5e5ea,
    5: #f5f5f6,
    6: #111,
    7: #63646a,
    8: #abacac,
    9: #d8d7d6,
    10: #abacac,
		11: #303030,
		12: #d8d7d6
  ),
	red:(
		1: #ed1c24,
		2: #aa070d
	),
);



// $img_url : '../../dist/images/sprite';
$img_url : '/dist/images/sprite';
$sprite : '#{$img_url}/img_sprite.png';
