@import url("https: //fonts.googleapis.com/css?family=Nanum+Gothic: 400,700&subset=korean");
@import "function/__function";
@import "variables";
@import "vendors/sprite/*.scss";
@import "mixin/__mixin";
@import "placeholder/__placeholder";
@import "base/__base";
@import "components/__components";
@import "layout/__layout";

// 버튼 컴포넨트 상속 케이스별 정리를 위한 믹스인 exam
// $button-space-case: (
//   mypage : (
//     margin-top:10px,
//     padding-bottom:0
//   ),
//   deal : (
//     margin-top:20px,
//     padding-right:10px
//   ),
//   item : (
//     margin-top:30px
//   )
// );
//
// .wbtn{
//   @each $property , $value in $button-space-case{
//     @include inherit($property){
//       @include get-list($button-space-case , $property);
//     }
//   }
// }

.triangle{
  height: 20px;
  position: relative;
  &:after{
    @include triangle();
    @include posrt();
  }
}

.test_bullet{
  @include bullet();
}


.angle{
  @include bd();
  @include vtext(33px);
  @include size(100px, 20px);
  @include ic-angle(down, $right: 10px, $hover: true);
  position: relative;
  text-align: center;
  background-color: color(black, 2);
}

.hamburger{
  display: inline-block;
  overflow: hidden;
  span{
    @include ic-hamburger($padding: 5px, $color: color(black, 1));
  }
}

.a{
  @include z-index(dim);
}


.a1{
  @include rem(font-size, 12px);
}
.a2{
  @include rem(font-size, 14px);
}
.a3{
  @include rem(font-size, 16px);
}
.a4{
  @include rem(font-size, 18px);
}
.a5{
  @include rem(font-size, 20px);
  @include bd($bd-width: 1px 2px 3px 4px);
}
.a6{
  @include rem(font-size, 22px);
}


.ssd{
  @include rem(top, 10px);
}

.ic-arrow{
  @include relative();
  display: inline-block;
  padding-right: 30px;
  .arrow{
    @include ic-arrow($position: absolute);
  }
}

@include bp(mo){
  .a{
    font-size: 12px;
  }
}
@include bp(320px){
  .a{
    font-size: 12px;
  }
}
@include bp(769px, 1023px){
  .a{
    font-size: 12px;
  }
}

// .spr-aksd{
//   @include sprite($btn-go-related);
// }
